*{
    box-sizing: border-box;
}
body{
    background-color: #7ee8fa;
background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
background-repeat: no-repeat;
height: 100vh;
/* display: flex;
align-items: center;
text-align: center; */
}
.calculator-container{
    height: 520px;
    width: 320px;
    background-color: aliceblue;
    margin:  0 auto;
    border-radius: 5px;
    /* top: 20px; */
}
.result{
    height: 120px;
    padding: 1rem;
    text-align: right;
    /* background-color: yellowgreen; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#history-value{
    /* text-align: right; */
    color: rgb(77, 73, 73);
    font-size: 25px;
    margin: 0;
}
#output-value{
font-size: 35px;
margin: 5px 0px 0px 0px;
font-weight: bold;
}
.operator, .number, .empty{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-weight: bold;
    outline: none;
}
.empty{
    background-color: rgb(255, 255, 255);
}
.operator:active, .number:active{
    font-size: 13px;
}
button:nth-child(4){
    background-color: red;
}